.bloc-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 19rem;

  padding: 1px;
  color: white;
}
.profil-input {
  display: flex;
  margin-top: 4rem;
}
.input-comment {
  width: 20rem;
  border: solid 1px white;
  background-color: #221d1d;
  height: 1rem;
  margin-left: -1.5rem;
  color: white;
  padding: 12px;
}

.profilComment {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: 1rem;
}
.profil-comment {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  margin-top: 10px;
}
.send-comment {
  width: 8rem;
  height: 2.5rem;
  font-size: 13px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 30px;
  padding: px;
}
.send-comment:hover {
  background-color: #a81818;
  border: none;
  color: white;
  border-radius: 30px;
}
.times {
  font-size: 12px;
  margin-top: 18px;
  font-weight: 100;
}
.show-comment {
  display: flex;
  margin-left: 1rem;
  gap: 10px;
}
.note-comment {
  display: flex;
  margin-top: -1.5rem;
}
.thumbs-Up {
  display: flex;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 5rem;
}
.th-Up {
  margin-top: 0.5rem;
}
.th-Down {
  margin-top: 0.5rem;
  margin-right: 10px;
}
.th-Up-sub {
  margin-left: 2rem;
}

.thumbs-Down {
  display: flex;
  font-weight: bold;
}
.response {
  margin-left: px;
  cursor: pointer;
}
.response:hover {
  color: #a81818;
  border-radius: 2px;
}
.response p:active {
  background-color: #a81818;
  color: white;
}
.sub-comment {
  margin-left: 3rem;
}
.profil-input-Res {
  display: flex;
  margin-top: -10px;
}
.input-subcomment {
  width: 18rem;
  background-color: #221d1d;
  border: solid 1px white;
  height: 1.5rem;
  margin-left: -0.2rem;
  color: white;
}
.note-subComment {
  display: flex;
  margin-left: 2rem;
  margin-top: -1rem;
}
.note-subComment p {
  margin-top: -0rem;
  margin-right: 10px;
}
.thup-subComment {
  display: flex;
  font-weight: bold;
}
.thup {
  width: 16px;
}
.thdown-subomment {
  display: flex;
  font-weight: bold;
}
.thDown {
  width: 16px;
  margin-left: 1rem;
}
