.Header-cotenair {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

img {
  width: 13rem;
}
.barre-de-recherche img {
  width: 1.5rem;
}
.barre-de-recherche {
  display: flex;
}
button {
  margin-top: 1rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 10rem;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 2rem;
  font-size: 17px;
  background-color: #d9d9d9;
  margin: 1rem;
}
.profil img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.profil-barre {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  img {
    width: 9rem;
  }
  input {
    width: 30rem;
    margin-top: -0.5rem;
    height: 1rem;
  }
  button {
    width: 2rem;
    height: 25px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-top: -0.5rem;
  }
  button .search {
    width: 1rem;
    height: 1rem;
  }
  .profil img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
