.video {
  flex-direction: row;
  flex-wrap: wrap;
  width: 13rem;
  margin-left: 2rem;
}
.img-canal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 2px;
}
.tex-skeleton {
  width: 40%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
