.liste-abonement {
  color: rgb(13, 14, 14);
  font-weight: bold;
  /*  margin-left: 4rem; */
  margin-top: 2rem;
  padding: 18px 46px;
}
.border {
  border: solid 1px rgb(13, 14, 14);
  width: 12rem;
  align-items: center;
  margin: auto;
}
ul:hover {
  color: white;
  background-color: #a81818;
}
.affiche-chaine {
  display: flex;
  flex-direction: row-reverse;
  width: 8rem;
  margin: auto;
  padding-left: 1rem;
}
.affiche-chaine img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  /*  margin-right: 2rem; */
}
.affiche-chaine p {
  font-size: 0.7rem;
  height: 1rem;
  width: 45rem;
  font-weight: bold;
  margin-left: 1rem;
}
a {
  appearance: none;
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}
