.playlist {
  display: flex;
  gap: 1rem;
  width: 65rem;
  flex-wrap: wrap;
  color: azure;
}
.visuelVideo {
  font-size: 1rem;
}
.playlistTitre {
  width: 20rem;
  color: white;
}
.visuelVideo img {
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
}
.reading {
  width: 50%;
  height: 30rem;
}

.flex1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  width: 65rem;
}

@media screen and (max-width: 425px) {
  .playlist {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  .flex1 {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    width: 10rem;
    gap: 1rem;
  }
  .visuelVideo img {
    width: 20rem;
    margin-left: 1rem;
  }
  .reading {
    width: 80%;
    height: 60%;
    margin-top: 8rem;
    margin-left: 2.5rem;
  }
  .playlistTitre {
    width: 15rem;
    margin-left: 1rem;
  }
}
