.videos {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 1rem !important;
  color: azure !important;

  /*  margin-left: 17rem;
  margin-top: -35rem;
  margin-right: 14rem; */
  height: 20rem;
 
}
.ytp-cued-thumbnail-overlay-image{
  display: flex;
}
iframe{
  gap: 1rem;
}
.kirua {
  color: azure;
  width: 20rem;
}
.chaine-abonné {
  padding: 10px;
  background-color: #a81818;
  color: white;
  width: 5rem;
  margin-left: 27rem;
}
.toutes-chaine {
  padding: 10px;
  width: 5rem;

  margin-left: 10px;
}
.tt {
  display: flex;
  margin-bottom: 3rem;
}

@media screen and (max-width: 425px) {
  .video {
    width: 30rem;
  }
  .contenaire-videos {
    margin-left: -5rem;
  }
  .chaine-abonné {
    margin-left: 1rem;
  }
  .kirua {
    width: 8rem;
  }
}
