.playlist {
  display: flex;
  gap: 1rem;
  /*  width: 100%; */
  flex-wrap: wrap;
  color: azure;
  margin-top: 11rem;
  padding-left: 17rem;
}
.video-list {
  font-size: 1rem;
  gap: 1rem;
  margin-left: 2rem;
  border: 1px solid #221d1d;
  transition: all ease-in-out 0.3s;
}

.video-list:hover {
  background-color: #221d1d;
  transform: scale(1.1);
  border-radius: 20px;

  box-shadow: 0px 0px 10px;
  /* 
  rgb(204, 199, 199), 0px 0px 20px rgb(204, 199, 199)
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}
.statistics {
  display: flex;
}
.eyer {
  width: 30px;
  color: azure;
}
.stat-number {
  display: flex;
  font-size: 12px;
  gap: 3px;
  margin-top: -10px;
}
.playlist-title {
  width: 10rem;
  color: white;
  margin-left: 1rem;
}
.playlist-title p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-list img {
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  width: 13rem;
}

.container__reading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.reading {
  width: 65%;
  margin-left: 10rem;
  height: 25rem;
  padding-top: 10rem;
}

.title {
  display: flex;
  flex-direction: column;
  height: 20rem;
  /* justify-content: left; */
  margin-right: auto;
}
.titleofvideoreaging {
  color: white;
  font-weight: bold;
  font-size: 21px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  /* padding-left: 12rem; */
  /* justify-content: space-between; */
  /* width: 100%; */
}

@media screen and (max-width: 425px) {
  .playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 3rem;
    gap: 1rem;
  }
  .video-list {
    margin-top: 6rem;
  }
  .video-list img {
    width: 12rem;
    margin-left: 1rem;
  }
  .reading {
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    margin-left: 2.5rem;
  }
  .playlist-title {
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: -6rem;
  }
}
